<div class="container">
  <h2 class="fw-bolder fs-2 bg-secondary p-3 text-center text-white mt-4 mb-4" >Registro de viajes</h2>
  <div class="row mb-2 " [formGroup]="viajesForm">
    <div class="col-4 mx-auto border p-4 mt-4">
      <div class="row text-center m-4">
        <label class="mb-3" for="Sucursal">Sucursal </label>

        <dx-lookup formControlName="sucursalId" [dataSource]="sucursales" displayExpr="Nombre" valueExpr="SucursalId"
          [searchEnabled]="true" (onValueChanged)="onValueChange($event)">
        </dx-lookup>
        <app-error *ngIf="viajesForm.touched" [form]="viajesForm" control="sucursalId" validator="required"
          text="Debe enviar una sucursal"></app-error>
      </div>
      <div class="row text-center m-4">
        <label class="mb-3" for="Transportista">Transportista </label>

        <dx-lookup formControlName="transportistaId" [dataSource]="transportistas" displayExpr="nombre"
          valueExpr="transportistaId">

        </dx-lookup>

        <app-error *ngIf="viajesForm.touched" [form]="viajesForm" control="transportistaId" validator="required"
          text="Debe enviar un transportista"></app-error>

      </div>

      <div class="row text-center m-4">
        <label class="mb-3" for="Fecha">Fecha de viaje</label>

        <dx-date-box formControlName="fecha" type="date" [value]="now" [inputAttr]="{ 'aria-label': 'Date' }">
        </dx-date-box>
        <app-error *ngIf="viajesForm.touched" [form]="viajesForm" control="fecha" validator="required"
          text="Debe seleccionar una fecha"></app-error>

      </div>

    <div class=" row text-center m-4">
      <label for="distancia">Distancia Total</label>
      <dx-number-box [value]="distanciaTotal" formControlName="distanciaKM" class="form-control" placeholder="distancia"
        [disabled]="true">
      </dx-number-box>
      <app-error *ngIf="viajesForm.touched" [form]="viajesForm" control="distanciaKM" validator="required"
      text="La distancia no puede ser 0"></app-error>
    </div>
      <div class=" row m-4 text">
        <dx-button class="mx-2"
        stylingMode="contained"
        text="Registrar"
        type="success"
        [width]="160"
        (onClick)="onAdd()"
      > </dx-button>
      <dx-button
      stylingMode="contained"
      text="Cancelar"
      type="danger"
      [width]="160"
      (onClick)="onCancel()"
    >
      </dx-button>
      </div>
    </div>

    <div class="col-1">
    </div>

    <div class="col-7">

      <div class="row mt-4 ">

        <div class="row">
          <h4 class="mb-3">Seleccione los empleados para el viaje</h4>

          <dx-data-grid id="grid-container" [dataSource]="empleados" [showBorders]="true" [remoteOperations]="true"
            keyExpr="empleadoId" (onSelectionChanged)="onSelectionChanged($event)" class="thead-dark">
            <dxo-selection [selectAllMode]="allMode" [showCheckBoxesMode]="checkBoxesMode"
              mode="multiple"></dxo-selection>
            <dxo-paging [pageSize]="10"></dxo-paging>
            <dxo-filter-row [visible]="true"></dxo-filter-row>
            <dxi-column dataField="empleadoId" caption="Empleado ID" [width]="90" ></dxi-column>
            <dxi-column dataField="nombre" [width]="180"></dxi-column>
            <dxi-column dataField="apellido"></dxi-column>
            <dxi-column dataField="distanciaKM" [width]="180"></dxi-column>

          </dx-data-grid>

        </div>


      </div>
    </div>


  </div>

</div>
