registry=https://sertfs.grupofarsiman.com/tfs/GrupoFarsimanCollection/_packaging/FarsimanPackages/npm/registry/
always-auth=true

//sertfs.grupofarsiman.com/tfs/GrupoFarsimanCollection/_packaging/FarsimanPackages/npm/registry/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ijk1czR2QzhjS1BJRFFaUjR0bklnb3FCcVB4OCJ9.eyJuYW1laWQiOiJjNDVkYzQ5Mi1jMTgyLTRlMWQtOTY1Mi02OTZkODQ1MGFkZjQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGNiYmY3ZGEtMWExZi00NmFjLThkOWEtOTA5NmFjMDY1NzRiIiwic2lkIjoiMjk4OTIwNzctNjQwNC00ZTU1LTk3MmYtZGNhYWVmZGZhNTlmIiwiaXNzIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwiYXVkIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwibmJmIjoxNzA2MTkyMzA3LCJleHAiOjE3MTM5Njg5MDd9.MPqflf2BoGZOzQhKNlU_2DUs3UlJP5tneIdS157aiPfntcQMLe-UcEYjRdvV8tYUwfH38BOEWXQajCB_KgbpqjAkiFK258NFWvxzawaknXgVAEvHcitfEPHomxQytOIUAhj0t385LBYRdVTHRrgzDx-MyLuCa5YwAcUkmLav3SFy3ACbugL27oqAtYdlLNB9ffLC9I7jxe-z6R8QGuxFISVxNXEIyLzypfSJp1JgfEi-B92achbyhARTg2c9oYZh5xJp5RUaq6jigbuwsY6OywsIkAvB-nxP_F57m0-D2UbMMAClH75IPj13S5QHVqZ4Skr-v2txD_1q1A4LUE5jxw
//sertfs.grupofarsiman.com/tfs/GrupoFarsimanCollection/_packaging/FarsimanPackages/npm/:_authToken=eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiIsIng1dCI6Ijk1czR2QzhjS1BJRFFaUjR0bklnb3FCcVB4OCJ9.eyJuYW1laWQiOiJjNDVkYzQ5Mi1jMTgyLTRlMWQtOTY1Mi02OTZkODQ1MGFkZjQiLCJzY3AiOiJ2c28uZHJvcF93cml0ZSB2c28ucGFja2FnaW5nX3dyaXRlIiwiYXVpIjoiMGNiYmY3ZGEtMWExZi00NmFjLThkOWEtOTA5NmFjMDY1NzRiIiwic2lkIjoiMjk4OTIwNzctNjQwNC00ZTU1LTk3MmYtZGNhYWVmZGZhNTlmIiwiaXNzIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwiYXVkIjoiMWRkODc2N2EtNWMyZC00NTkwLWExMzQtYTlhNjk4MDA3ZTlkIiwibmJmIjoxNzA2MTkyMzA3LCJleHAiOjE3MTM5Njg5MDd9.MPqflf2BoGZOzQhKNlU_2DUs3UlJP5tneIdS157aiPfntcQMLe-UcEYjRdvV8tYUwfH38BOEWXQajCB_KgbpqjAkiFK258NFWvxzawaknXgVAEvHcitfEPHomxQytOIUAhj0t385LBYRdVTHRrgzDx-MyLuCa5YwAcUkmLav3SFy3ACbugL27oqAtYdlLNB9ffLC9I7jxe-z6R8QGuxFISVxNXEIyLzypfSJp1JgfEi-B92achbyhARTg2c9oYZh5xJp5RUaq6jigbuwsY6OywsIkAvB-nxP_F57m0-D2UbMMAClH75IPj13S5QHVqZ4Skr-v2txD_1q1A4LUE5jxw
