<nav class="navbar navbar-expand-lg" style="background-color: #e8ecee; ">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Transporte Siman</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <a class="navbar-brand" href="#">
        <img src="https://images.squarespace-cdn.com/content/v1/5cf6d742a258a90001ab5c87/1559681839666-5U1VNS6539GA3DOJ88KB/Logo+Farsiman-04.png" alt="Bootstrap" width="110" height="48">
      </a>
      <div class="navbar-nav">
        <a class="nav-link active " aria-current="page" routerLink="/empleados" routerLinkActive="active">Home</a>
        <a class="nav-link" routerLink="/viajes" routerLinkActive="active">Viajes</a>
        <a class="nav-link" href="/sucursales">Administracion Sucursales</a>
        <a class="nav-link" href="/reportes">Reporte</a>
      </div>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>

