<div class="container">
  <div class="row">
     <div class="col-3 ">
      <input [formControl]="txtFilter" type="text" class="form-control me-2" placeholder="nombre a buscar">
    </div>

      <div class="col-9 text-end">

      <app-option-control (onClick)="onValueChange($event)" [disabledSave]="empleadosForm.invalid"></app-option-control>
     </div>
  </div>

  <div class="row mb-2" [formGroup]="empleadosForm">
    <div class="col-3">
      <label for="empleadoId">ID</label>

      <input formControlName="empleadoId" type="text" class="form-control" placeholder="id" >

   <app-error *ngIf="empleadosForm.touched" [form]="empleadosForm" control="empleadoId" validator="required" text="Debe enviar un id" ></app-error>

    </div>
    <div class="col-3">
      <label for="nombre">Nombre</label>
      <input formControlName="nombre" type="text" class="form-control" placeholder="nombre" >

      <app-error *ngIf="empleadosForm.touched" [form]="empleadosForm" control="nombre" validator="required" text="El nombre es requerido" ></app-error>

      <app-error *ngIf="empleadosForm.touched" [form]="empleadosForm" control="nombre" validator="minlength" text="El nombre debe tener {{empleadosForm.get('nombre')?.errors?.['minlength']?.['requiredLength']}} letras." ></app-error>



    </div>
    <div class="col-3">
      <label for="apellido">Apellido</label>
      <input formControlName="apellido" type="text" class="form-control" placeholder="apellido">
      <app-error *ngIf="empleadosForm.touched" [form]="empleadosForm" control="apellido" validator="required" text="El apellido es requerido" ></app-error>
      <app-error *ngIf="empleadosForm.touched" [form]="empleadosForm" control="apellido" validator="minlength" text="El apellido debe tener {{empleadosForm.get('apellido')?.errors?.['minlength']?.['requiredLength']}} letras." ></app-error>


    </div>
    <div class="col-3">
      <label for="puestoId">Puesto ID</label>
      <input formControlName="puestoId" type="text" class="form-control" placeholder="idPuesto">
      <app-error *ngIf="empleadosForm.touched" [form]="empleadosForm" control="puestoId" validator="required" text="El puesto id es requerido" ></app-error>


    </div>

  </div>

  <div class="row">
    <div class="col-12"></div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Puesto ID</th>
          <th scope="col">Acciones</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let empleado of empleadoFilter">
          <th scope="row">{{empleado.empleadoId}}</th>
          <td>{{empleado.nombre}}</td>
          <td>{{empleado.apellido}}</td>
          <td>{{empleado.puestoId}}</td>
          <td>
            <button type="button" class="btn btn-info" (click)="onEdit(empleado)">
              Editar
            </button>
          </td>
        </tr>
        </tbody>
    </table>
  </div>

</div>
